.nothing-here {
    top: 50%;
    left: 50%;
    width: 30em;
    height: 18em;
    margin-top: -9em;
    margin-left: -15em;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
}
