.page {
}

.page__container {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin: 0 auto;
}

.page__table {
    margin: 0 auto;
    width: 100%;
}

.table {
    width: 100%;
    border: 1px solid black;
    margin: 0 auto;
}

.table__row {
    border-width: 1px;
    border-color: transparent;
    border-right-color: black;
    transition-property: color, background-color;
    transition-duration: .1s;
    transition-timing-function: ease-in-out;
}

.table__row:last-child {
    border-width: 1px;
    border-color: black;
}

.SelectItem,
.table__row:hover {
    cursor: pointer;
    color: white;
    background-color: black;
}

.table__row--header {
    color: white;
    background-color: black;
}

.table__header {
    padding: 15px;
    font-size: 18px;
}

.table__header:not(:first-child) {
    border-left: 1px solid white;
}

.table__data {
    border-left: 1px solid black;
    padding: 10px;
}

.table__data:hover:not(:first-child) {
    border-left: 1px solid white;
}

.page__actions {
    position: fixed;
    left: 50%;
    bottom: 5px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    display: flex;
    border: 1px solid black;
    padding: 10px 30px;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    border-radius: 7px;
    width: 500px;
}

.actions__container {
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    margin: 0;
}

.actions__info {
    width: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.actions__info::before {
    content: "#";
    color: white;
}

.modal__action--accept,
.action--edit,
.action--delete,
.action--close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 39px;
    height: 39px;
    cursor: pointer;
    border-radius: 17%;
    background-color: black;
    color: white;
    transition-property: color, background-color;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.modal__action--accept:hover,
.action--edit:hover,
.action--delete:hover,
.action--close:hover {
    color: black;
    background-color: white;
}

.action--close {
}


.page__modal--update {
    position: fixed;
    left: 50%;
    bottom: 40px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    width: 500px;
    border-radius: 7px;
    background-color: white;
}

.modal__container {
    border-radius: 7px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.modal__column {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal__column {
    border-bottom: 1px solid black;
}



.modal__label {
    width: 200px;
    color: black;
    background-color: white;
    padding: 20px 30px;
    border-radius: 7px;
}

.modal__input {
    background-color: white;
    color: black;
    border: none;
    outline: none;
    width: 300px;
    border-left: 1px solid black;
    padding: 20px 30px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.modal__input::placeholder {
    color: black;
}

.modal__action--accept {
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    width: 100%;
    height: 39px;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0;
    margin: 0;
}

.modal__pointer {
    width: 32px;
    height: 20px;
    background-color: black;
    clip-path: polygon(100% 0, 0 0, 50% 100%);
    position: fixed;
    right: 85px;
    bottom: -20px;
    margin: 0 auto;
}

.page__modal--delete {
    position: fixed;
    left: 50%;
    bottom: 80px;
    width: 500px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    background-color: black;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 7px;
}

.modal__container--delete {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.modal__action--confirm,
.modal__action--cancel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: fit-content;
    height: 39px;
    cursor: pointer;
    border-radius: 7px;
    padding: 20px 30px;
    background-color: black;
    color: white;
    transition-property: color, background-color;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.modal__action--confirm:hover,
.modal__action--cancel:hover {
    color:black;
    background-color: white;
}

.modal__pointer--delete {
    width: 32px;
    height: 20px;
    background-color: black;
    clip-path: polygon(100% 0, 0 0, 50% 100%);
    position: fixed;
    right: 35px;
    bottom: -20px;
    margin: 0 auto;
}

.page__add-item {
    margin: 0 auto;
    
    width: 80%;
}

.add-item__container {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0 auto;
    max-width: 1920px;
    border-bottom: 1px solid black;

}

.add-item__title {
    padding: 30px;
    border-bottom: 1px solid black;
    font-size: 33px;
}

.add-item__column {
    display: flex;
    padding: 0;
    margin: 0;
    border-right: 1px solid black;
}

.add-item__label {
    padding: 15px;
    width: 33%;
    color: white;
    background-color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.add-item__input {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: black;
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
}

.add-item__input::placeholder {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: black;
}

.add-item__actions {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 15px;
    padding: 30px;
    padding-right: 0;
}

.add-item__action--confirm,
.add-item__action--cancel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: fit-content;
    height: 39px;
    cursor: pointer;
    border-radius: 7px;
    padding: 20px 30px;
    background-color: black;
    color: white;
    transition-property: color, background-color;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.add-item__action--cancel:hover,
.add-item__action--confirm:hover {
    color: black;
    background-color: white;
}

.loading {
    margin: 0 auto;
    padding: 30px;
}

.loading__container {
    top: 50%;
    left: 50%;
    width: 30em;
    height: 18em;
    margin-top: -9em;
    margin-left: -15em;
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.loading__text {
    font-size: 18px;
    color: black;
}

.loading__animation {
    position: relative;
    top: 8px;
    left: -9999px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: black;
    color: black;
    box-shadow: 9991px -16px 0 0 black, 9991px 0 0 0 black, 10007px 0 0 0 black;
    animation: loading__animation 2s infinite ease;
}

@keyframes loading__animation {
    0% {
        box-shadow: 9991px -16px 0 0 black, 9991px 0 0 0 black, 10007px 0 0 0 black;
    }

    8.333% {
        box-shadow: 10007px -16px 0 0 black, 9991px 0 0 0 black, 10007px 0 0 0 black;
    }

    16.667% {
        box-shadow: 10007px -16px 0 0 black, 9991px -16px 0 0 black, 10007px 0 0 0 black;
    }

    25% {
        box-shadow: 10007px -16px 0 0 black, 9991px -16px 0 0 black, 9991px 0 0 0 black;
    }

    33.333% {
        box-shadow: 10007px 0 0 0 black, 9991px -16px 0 0 black, 9991px 0 0 0 black;
    }

    41.667% {
        box-shadow: 10007px 0 0 0 black, 10007px -16px 0 0 black, 9991px 0 0 0 black;
    }

    50% {
        box-shadow: 10007px 0 0 0 black, 10007px -16px 0 0 black, 9991px -16px 0 0 black;
    }

    58.333% {
        box-shadow: 9991px 0 0 0 black, 10007px -16px 0 0 black, 9991px -16px 0 0 black;
    }

    66.666% {
        box-shadow: 9991px 0 0 0 black, 10007px 0 0 0 black, 9991px -16px 0 0 black;
    }

    75% {
        box-shadow: 9991px 0 0 0 black, 10007px 0 0 0 black, 10007px -16px 0 0 black;
    }

    83.333% {
        box-shadow: 9991px -16px 0 0 black, 10007px 0 0 0 black, 10007px -16px 0 0 black;
    }

    91.667% {
        box-shadow: 9991px -16px 0 0 black, 9991px 0 0 0 black, 10007px -16px 0 0 black;
    }

    100% {
        box-shadow: 9991px -16px 0 0 black, 9991px 0 0 0 black, 10007px 0 0 0 black;
    }
}
